#version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: calendario_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5432:5432"

  api:
    build:
      context: ./api
    ports:
      - "8000:80"
    volumes:
      - ./api:/var/www/html
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/calendario_db?serverVersion=15
    command: bash -lc "composer install --no-interaction && apache2-foreground"

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host --port 5173
